<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Licensing" version="5.0.0" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms" version="6.1.0" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms.1.5.3" version="1.0.0" targetFramework="net472" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net472" />
  <package id="Fody" version="4.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.4" targetFramework="net472" />
  <package id="jQWidgets.AspNetCore.Mvc.TagHelpers" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Antiforgery" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.JsonPatch" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.DataAnnotations" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Formatters.Json" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Razor" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Razor.Extensions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.ViewFeatures" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.3.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.3.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Razor" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Composite" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.WebEncoders" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.SystemEvents" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Windows.Compatibility" version="6.0.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net472" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="6.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.Odbc" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.OleDb" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.DirectoryServices" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices.AccountManagement" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices.Protocols" version="6.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net472" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.Ports" version="6.0.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Management" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Context" version="6.0.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceModel.Duplex" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Http" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.NetTcp" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Security" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Syndication" version="6.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="6.0.0" targetFramework="net472" />
  <package id="System.Speech" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net472" />
  <package id="System.Web.Services.Description" version="4.9.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net472" />
</packages>